

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h1>New Reminder</h1></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <section>
            <div class="form-group">
              <label for="newReminder">Reminder</label>
              <input class="form-control" type="text" name="newReminder" data-ng-model="newReminder.remindThis" placeholder="Reminder">
              <span class="ion-chatbox-working form-control-feedback"></span>
            </div>
            <div class="form-group">
              <label for="newDay">Reminder Date and Time</label>
<input type="datetime-local" class="form-control" name="newTime" data-ng-model="newReminder.shdlSMS">
<span class="ion-calendar form-control-feedback"></span>
            </div>
            <select>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
              <button class="btn btn-primary" data-ng-click="remCtl.createReminder(newReminder)">Create</button>
            </div>

          </section>
        </div>
      </div>
    </div>
  </div>
</div>
