<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h1 class="panel-title pull-left">{{remCtl.reminder.remindThis}}</h1>
      <div class="btn-group pull-right" ng-if="remCtl.isAuthenticated()">
        <a class="btn btn-warning" href="#/posts/{{remCtl.reminder._id}}/edit">Edit</a>
        <a class="btn btn-danger" ng-click="remCtl.deleteReminder(remCtl.reminder._id)">Delete</a>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <section>
              <p>{{remCtl.reminder.user.displayName}}, you need to - <strong>{{remCtl.reminder.remindThis}}</strong></p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
